<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_HOME" value="/usr/local/tomcat/logs" />
    <file>${LOG_HOME}/OpusWeb.log</file>
     
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MMM-dd-yyyy HH:mm:ss} %-5level %file:%line >> %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            //daily rollover
            <fileNamePattern>${LOG_HOME}/OpusWeb.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            //keep 30 days' worth of history
            <maxHistory>365</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{MMM-dd-yyyy HH:mm:ss} %-5level %file:%line >> %msg%n
            </pattern>
        </encoder>
    </appender> 

    <!-- <root level="debug"> -->   
    <!-- <appender-ref ref="console" /> -->
    <root level="INFO">
        <appender-ref ref="FILE" /> 
    </root>
</configuration>
