/* Appointment List */
.appointmentHeader {
//	margin-top: -25px;
//	margin-left: 40px;
}

.appointmentInstructions {
//	margin-left: 40px;
}

/* Proposed Fields */
.formSection {
	margin-left: -40px;
}

/* Recruit */
.radioListText {
	position: absolute;
	margin-top: -25px;
	margin-left: 30px;
}


.borderLeft {
	border-left: 1px solid #eeeeee;  
}


.appt-padding	{
		margin-left: 35px;
}

.cases-show-only	{
	min-width: 250px;
}


.border-left	{
	border-left: $gray-light, 1pt, solid !important; 
}

.border-right	{
	border-right: $gray-light, 1pt, solid !important; 
}

.padding-bottom-0	{
	padding-bottom: 0 !important;
}

.padding-top-0	{
  padding-top: 0 !important;
}