/* Used in Request UID
-------------------------------------------------- */

/* #person-info-list li {
	list-style-type: none;
} */

#filters li {
	list-style-type: none;
}

.candidate-record {
	margin-left: -45px;
}

.gender-info {
	margin-top: 5px;
}

.dob-info {
	margin-top: 10px;
	margin-bottom: 10px;
}

.required-field {
	color: red;
}