.profileList li {
  	list-style-type: none;
  	padding: 10px;
  	border: 1px solid #eee;
}

.profileHeader h1 {
	display: inline-block;
}

.profileHeader span {
	margin-left: 100px;
}

.profile-image-padding	{
	padding-right:10px !important;
}

.profile-search-fix	{
	margin-bottom:0px;
}


.profile-search-width	{ 
	width:500px !important;
}