/* Review Committee (Slate)
-------------------------------------------------- */

#search {
	width: 600px;
}

#add-slate-results {
	list-style-type: none;
}

#expertise-search {
	width: 400px;
	margin-bottom: 20px;
}

#expertise-search-button {
	float: right;
	margin-top: -55px;
}

.expertise {
	padding-left: 30px;
}

#filter-results {
	margin-top: 20px;
}

#slate-record {
	margin-top: -30px;	
}

#results {
	width: 700px;
}