/* buttons
-------------------------------------------------- */

/* used for back and next arrow icons-- */
.wizard	{
	color: $gray-light;
}

.icon-position {
	float: right;
}

.btn-nostyle  {
	border: none;
	background: transparent;
}

.btn-round-sm {
	border-radius: 15px;  
}

.btn-xlg {
	color: #fff;
	background-color: $ucla-blue;
	padding: 20px 60px;
	font-size: 20px;
	border-color: $ucla-blue;
}

.button-padding {
	margin: 20px 0px;
}

.btn-info {
  color: black;
  background-color:$light-blue;
}

.btn-warning {
  color: black;
}




/* file download buttons
-------------------------------------------------- */

.btn-file {
    position: relative;
    overflow: hidden;
    }
    
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* table row buttons
-------------------------------------------------- */
.edit-case-button, .delete-case-button {
	border: none;
	background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: $gray;
}

 

.dropdown-menu .checkbox label {
    padding-left: 0;
  }

.delete-case-button:hover, .edit-case-button:hover	{
	color: $ucla-blue;
	background-color: transparent;
	border: 1px;
}

.btn-gray   {
    background-color: $gray-lightest;
    border: 1px solid #ddd;
}


.td {
max-height: 40px;
}

.ghostButton	{
	    opacity: 0.55;
}

/* 
td.edit-case-button	{
    padding-bottom: 4px;
    padding-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
}
 */
 
 
 .margin-right-20	{
     margin-right: 20px;	
 }

 /** padding for top of datatable buttons important to override ruby gems**/
.table-top 	{
    margin: 0 .75em .75em 0 !important;
 }


// DELETE THESE

/* .case-button-next {
	border: none;
} */

/* .case-button-back {
	border: none;
}

   */
/* .ui.large.button .ui.basic.button, .ui.basic.buttons 	{
	font-family:  $font-family-sans-serif;
	font-size: floor(($font-size-base * .9));
	color: black !important;
	border: 1px solid $gray;
}

.ui.basic.button	{  
	color: black !important;
	background-color: $gray-lightest !important;
}

.reset-table-button	{
	border: none;
	background-color: transparent !important;
	color: $ucla-blue !important;
	box-shadow: none;
} */