//-----------------Opus new variables, not in Bootstrap  

//---------Colors

	//---------Primary Colors
 	$ucla-blue:         #2774ae; //for text 
 	// $ucla-blue2:		#2774ae; // for graphic elements
 	//$ucla-blue-link:	#2774ae; //  for accessible link color ratio 
 	$orange: 			#f79021; //opus orange
 	$green: 			#6fbf5e;
 	$purple: 			#9c3c96;
 	
 	//---------Accent Colors
 	$ucla-dark-blue:	#005587; 
 	$ucla-gold: 		#ffd100;
 	//$gold: 				#ffd100;
 	$cyan:				#00a5e4; 
 	$purple-blue:		#6657a5;

	
	//---------Expanded Colors
	$light-yellow: 		#f7f3d0;	// for warning cells in tables
 	$light-blue: 		#E3EFF9;	// row highlight upon click, primary button color


